.logaStart {
    position: absolute;
    left: 180px;
    top: 170px;
    height: 400px;
    width: 400px;
}

.startNav {
    position: absolute;
    left: 900px;
    top: 200px;
    height: 100px;
    width: 300px;
    background-color: white;
    float: left;
    border-radius: 50px 0 0 0;
    border-width: 5px;
    border-color: #5091c1;
    border-style: solid;
}

#shop {
    top: 350px;
}

#resor {
    top: 50px;
}

#youtube {
    position: absolute;
    top:  480px;
    width: 560px;
    height: 315px; 
    left: 700px;
}

p {
    font-family: 'Droid Sans', sans-serif;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 30px;
}